<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://propupcmms.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2185f384-9d14-4468-92e2-e1d3e6bb079a/resourceGroups/PropupCMMS_group/providers/Microsoft.Web/sites/PropupCMMS</ResourceId>
    <UserName>$PropupCMMS</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://propupcmms.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>